@font-face {
  font-family: TitleFont;
  src: url(TitleFont.TTF);
}

@font-face {
  font-family: Planewalker;
  src: url(Planewalker.otf);
}

#title {
  font-size: 40px;
  font-family: TitleFont;
  text-align: center;
  color: white;
}

#homepageText {
  font-size: 25px;
  font-family: Planewalker;
  text-align: center;
  color: white;
}

#homeContent {
  background-color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 5px;
  opacity: 0.75;
}

#homeContentText {
   opacity: 1.0;
}

#body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

#bodyHome {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("homebg.gif");
}

#mainContent{
  width:900px;
  margin: 0 auto;
}

.titleAccent {
  width:487px;
  margin: 0 auto;
  margin-top: -25px;
  padding-bottom: 30px;
}

#roomTitle {
  font-size: 30px;
  text-align: center;
  margin: 3% auto;
  font-family: TitleFont;
  color: white;
  font-weight: normal;
}

#roomText {
  text-align: center;
}

#roomChoices {
  text-align: center;
}

#lockedRoomChoices {
  text-align: center;
}

#container {
  width: 750px;
  height: 400px;
  margin: 3% auto;
  font-size: 22px;
  font-family: Planewalker;
  color: white;
}

#buttons {
  padding-top: 150px;
  clear: right;
}

#button {
  font-size: 18px;
  margin: 10px;
  font-family: TitleFont;
  background-color: #9C344C;
  border-color: #9C344C;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color: #C36279;
}

#lockedButton {
  font-size: 18px;
  margin: 10px;
  font-family: TitleFont;
  background-color: #236A62;
  border-color: #236A62;
  font-style: italic;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#lockedButton:hover {
  background-color: #42847D;
}

#discoveryText {
  text-align: center;
  color: #236A62;
  font-style: italic;
}







#menu>li {
  float: left;
  position: relative;
  display: block;
  margin: 1px;

}

ul {
  list-style-type: none;
  padding-left: 0;
}

#menu>li>a {
  text-decoration: none;
  font-family: Planewalker;
  display: block;
  color: black;
  padding: 8px;
}

#menu>li>ul {
  display: none;
  position: absolute;
}


#menu>li:hover ul {
  display: block;
  list-style: none;
  width: 200px;
}

#menu>li>ul>li a {
  color: white;
  display: block;
  font-family: Planewalker;
  padding: 5px;
  text-decoration: none;
}

#menu>li>ul>li a:hover {
  color: black;
  display:block;
  font-family: Planewalker;
  background-color: lightgrey;
  text-decoration: none;
}
