li {
  display: block;
  width: 175px;
  background-color: DarkGrey;
  margin: 1px;


}

a:hover {
  background-color: grey;
  display: block;
  color: white;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 3px;
}
